body {
   font-family: 'Trebuchet MS', sans-serif;
   padding: 30px 100px;
   background-color: #f7f7f7;
   color: cornflowerblue;
   transition: all .33s;
}

h1, p:not(:first-of-type) {
   padding: 30px 0;
}

h1 {
   color: tomato;
   font-size: 4rem;
}

ul {
   padding-bottom: 30px;
   color:yellowgreen;
}

h4 {
   text-align: center;
   background-color: #cccccc;
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
   padding: 6px;
   border: solid #777;
   border-width: 8px 0 8px 0;
}

